


.DS_Store
.vscode/
public/.DS_Store
*.log
users.txt
node_modules/
resources/certs/
resources/config-bluemix-sonar.xml
resources/config/
resources/default-config.xml
resources/default-config2.xml
resources/demo.txt
resources/jenkins/
resources/kubernetes/
resources/slack.coffee
resources/sonar.script
resources/testingjob.xml

