<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/buildprocess.css' />
        <script>
        </script>
  </head>
  <body class="ember-application pro" id="home">
    	
    	<div id="container">
    	<p>Welcome to build process</p>
    	<div id="main">
   				 <div class="tab">
   					 <div id="ember1298" class="ember-view">
   						 <div id="log-container">
   								 <pre id="log" class="ansi">
   								 
   						
  </body>
</html>