/*! Reset/normalize hybrid with major contributions from normalize.css, html5doctor.com Reset Stylesheet, and http://html5reset.org/

* Sam Richard - http://snugug.com/
* Nicholas Gallagher, Jonathan Neal - http://necolas.github.io/normalize.css/
* Richard Clark - http://richclarkdesign.com
* Tim Murtaugh - http://monkeydo.biz/
*/
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption,
cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
img, ins, kbd, label, legend, li, mark, main, menu, nav, object, ol, p, pre,
q, samp, section, small, span, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

a:active, a:hover {
    outline: 0
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

ul {
    list-style: none
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

code, kbd, pre, samp {
    font-size: 1em;
    font-family: monospace, sans-serif
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button, input[type="button"] {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="file"], input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

input, select {
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

html {
    box-sizing: border-box
}

* , * :before, * :after {
    box-sizing: inherit
}

embed, img, object, video {
    max-width: 100%;
    height: auto
}

body, .base--label-help {
    font-weight: normal;
    font-family: "HelveticaNeue", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, Roboto, sans-serif
}

.base--h1, .post--content h1, .subheading--description--MARKDOWN h1,
.accent-heading--description--MARKDOWN h1, .call-to-action--description h1,
.post--title, .base--h4, .post--content h4, .subheading--description--MARKDOWN h4,
.accent-heading--description--MARKDOWN h4, .call-to-action--description h4,
.tool--name, .figure--caption, .base--label, .post--content strong,
.subheading--description--MARKDOWN strong, .accent-heading--description--MARKDOWN strong,
.call-to-action--description strong, .footer--title, .header--title,
.tool--practice, .tool--security-status, .btn, .btn-group--done,
.metadata-form--request, .overview--request-btn, .banner--request-btn,
.call-to-action--anchor, .btn--PRIMARY, .btn-group--primary, .btn--ACTION,
.btn-group--action, .metadata-form--approve, .card--count, .message--SUCCESS,
.overview--subtitle, .overview--subtitle--DISABLED, .overview--table-header,
.post--detail, .toast--message, .accent-heading--title--ACCENT,
.banner--headline, .banner--headline--WITH-ICON, .call-to-action--title {
    font-weight: bold;
    font-family: HelveticaNeue-Bold, "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, Roboto, sans-serif
}

.front-banner--description {
    font-size: 1.2em
}

@media (min-width: 0) and (max-width: 48.0625em) {
    .front-banner--description {
        font-size: 1.2em
    }
}

@media (min-width: 48.0625em) {
    .front-banner--description {
        font-size: 1.25em
    }
}

.base--small, .base--label, .back-nav--link, .btn, .btn-group--done,
.metadata-form--request, .overview--request-btn, .banner--request-btn,
.call-to-action--anchor, .btn--PRIMARY, .btn-group--primary, .btn--ACTION,
.btn-group--action, .metadata-form--approve, .overview--details,
.overview--btn-description, .overview--subtitle, .overview--subtitle--DISABLED,
.overview--status--ENABLED, .overview--status--DISABLED, .overview--details--ERROR,
.toast--content--SUCCESS, .toast--content--ERROR, .validation--error-text,
.validation--error-text--SUPPORTING-DATA {
    font-size: 0.875em
}

.multi-email-editor {
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.footer, ._band, ._band--PRIMARY, ._band--SECONDARY, ._band--HEADER,
._band--BANNER, ._band--TABS, ._band--DIVIDER, ._band--SUB, ._teams,
._teams--form, ._teams--form--INLINE, ._overview-list--item, .tool {
    width: 100%;
    clear: both;
    float: right
}

.footer:after, ._band:after, ._band--PRIMARY:after, ._band--SECONDARY:after,
._band--HEADER:after, ._band--BANNER:after, ._band--TABS:after,
._band--DIVIDER:after, ._band--SUB:after, ._teams:after, ._teams--form:after,
._teams--form--INLINE:after, ._overview-list--item:after, .tool:after {
    content: "";
    display: table;
    clear: both
}

._band--body, ._teams--container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 67.0625rem
}

body {
    color: #323232;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.base--h1, .post--content h1, .subheading--description--MARKDOWN h1,
.accent-heading--description--MARKDOWN h1, .call-to-action--description h1,
.post--title {
    font-size: 2.48832em;
    line-height: 1
}

@media (min-width: 0) and (max-width: 48.0625em) {
    .base--h1, .post--content h1, .subheading--description--MARKDOWN h1,
    .accent-heading--description--MARKDOWN h1, .call-to-action--description h1,
    .post--title {
        font-size: 2.48832em
    }
}

@media (min-width: 48.0625em) {
    .base--h1, .post--content h1, .subheading--description--MARKDOWN h1,
    .accent-heading--description--MARKDOWN h1, .call-to-action--description h1,
    .post--title {
        font-size: 3.05176em
    }
}

.base--h2, .post--content h2, .subheading--description--MARKDOWN h2,
.accent-heading--description--MARKDOWN h2, .call-to-action--description h2,
.accent-heading--title, .banner--headline, .banner--headline--WITH-ICON,
.line-heading--headline {
    font-size: 2.0736em;
    font-weight: normal;
    line-height: 1
}

@media (min-width: 0) and (max-width: 48.0625em) {
    .base--h2, .post--content h2, .subheading--description--MARKDOWN h2,
    .accent-heading--description--MARKDOWN h2, .call-to-action--description h2,
    .accent-heading--title, .banner--headline, .banner--headline--WITH-ICON,
    .line-heading--headline {
        font-size: 2.0736em
    }
}

@media (min-width: 48.0625em) {
    .base--h2, .post--content h2, .subheading--description--MARKDOWN h2,
    .accent-heading--description--MARKDOWN h2, .call-to-action--description h2,
    .accent-heading--title, .banner--headline, .banner--headline--WITH-ICON,
    .line-heading--headline {
        font-size: 2.44141em
    }
}

.base--h3, .post--content h3, .subheading--description--MARKDOWN h3,
.accent-heading--description--MARKDOWN h3, .call-to-action--description h3,
.message--title, .subheading--title, .subheading--title--BUTTON,
.list--title {
    font-size: 1.44em;
    font-weight: normal;
    color: #777677
}

@media (min-width: 0) and (max-width: 48.0625em) {
    .base--h3, .post--content h3, .subheading--description--MARKDOWN h3,
    .accent-heading--description--MARKDOWN h3, .call-to-action--description h3,
    .message--title, .subheading--title, .subheading--title--BUTTON,
    .list--title {
        font-size: 1.44em
    }
}

@media (min-width: 48.0625em) {
    .base--h3, .post--content h3, .subheading--description--MARKDOWN h3,
    .accent-heading--description--MARKDOWN h3, .call-to-action--description h3,
    .message--title, .subheading--title, .subheading--title--BUTTON,
    .list--title {
        font-size: 1.5625em
    }
}

.base--h4, .post--content h4, .subheading--description--MARKDOWN h4,
.accent-heading--description--MARKDOWN h4, .call-to-action--description h4,
.tool--name, .figure--caption {
    font-size: 1em
}

.base--small {
    display: block;
    padding-top: 1.5rem
}

.base--textarea::-webkit-input-placeholder, .multi-email-editor::-webkit-input-placeholder,
.base--input--TEXT::-webkit-input-placeholder, .metadata-form--field::-webkit-input-placeholder,
.multi-email-editor:empty:before {
    color: #777677;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out
}

.base--textarea::-moz-placeholder, .multi-email-editor::-moz-placeholder,
.base--input--TEXT::-moz-placeholder, .metadata-form--field::-moz-placeholder,
.multi-email-editor:empty:before {
    color: #777677;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out
}

.base--textarea:-ms-input-placeholder, .multi-email-editor:-ms-input-placeholder,
.base--input--TEXT:-ms-input-placeholder, .metadata-form--field:-ms-input-placeholder,
.multi-email-editor:empty:before {
    color: #777677;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out
}

.base--textarea::placeholder, .multi-email-editor::placeholder,
.base--input--TEXT::placeholder, .metadata-form--field::placeholder,
.multi-email-editor:empty:before {
    color: #777677;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out
}

.base--textarea:focus::-webkit-input-placeholder, .multi-email-editor:focus::-webkit-input-placeholder,
.base--input--TEXT:focus::-webkit-input-placeholder, .metadata-form--field:focus::-webkit-input-placeholder,
.multi-email-editor:focus:empty:before {
    color: #e0e0e0
}

.base--textarea:focus::-moz-placeholder, .multi-email-editor:focus::-moz-placeholder,
.base--input--TEXT:focus::-moz-placeholder, .metadata-form--field:focus::-moz-placeholder,
.multi-email-editor:focus:empty:before {
    color: #e0e0e0
}

.base--textarea:focus:-ms-input-placeholder, .multi-email-editor:focus:-ms-input-placeholder,
.base--input--TEXT:focus:-ms-input-placeholder, .metadata-form--field:focus:-ms-input-placeholder,
.multi-email-editor:focus:empty:before {
    color: #e0e0e0
}

.base--textarea:focus::placeholder, .multi-email-editor:focus::placeholder,
.base--input--TEXT:focus::placeholder, .metadata-form--field:focus::placeholder,
.multi-email-editor:focus:empty:before {
    color: #e0e0e0
}

.base--a, .post--content a, .subheading--description--MARKDOWN a,
.accent-heading--description--MARKDOWN a, .call-to-action--description a {
    color: #4178be;
    text-decoration: none
}

.base--a:hover, .post--content a:hover, .subheading--description--MARKDOWN a:hover,
.accent-heading--description--MARKDOWN a:hover, .call-to-action--description a:hover {
    background-image: -webkit-linear-gradient(bottom, #fff 75%, #4178be 75%);
    background-image: linear-gradient(to top, #fff 75%, #4178be 75%);
    background-size: 0.125em 0.21875em;
    background-position: 0 1.08625em;
    text-shadow: 0.1rem 0 #fff, -0.1rem 0 #fff, 0.15rem 0 #fff, -0.15rem 0 #fff;
    text-decoration: none;
    background-repeat: repeat-x;
    cursor: pointer
}

.base--label {
    display: block;
    padding-bottom: 0.75rem;
    vertical-align: middle
}

.base--label-help {
    color: #777677
}

.base--textarea, .multi-email-editor, .base--input--TEXT, .metadata-form--field {
    width: 100%;
    padding: 0.75rem;
    line-height: 1.5;
    border: solid 1px #e0e0e0;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out
}

.base--textarea:focus, .multi-email-editor:focus, .base--input--TEXT:focus,
.metadata-form--field:focus {
    outline: none;
    border-color: #4178be
}

.base--textarea:disabled, .multi-email-editor:disabled, .base--input--TEXT:disabled,
.metadata-form--field:disabled {
    color: #777677;
    background: #f4f4f4
}

.base--textarea, .multi-email-editor {
    resize: none
}

.base--input--CHECKBOX {
    margin-right: 0.75rem;
    vertical-align: baseline
}

.base--down-tick {
    stroke: currentColor;
    width: 0.75rem;
    height: 0.5rem
}

.post--content blockquote, .subheading--description--MARKDOWN blockquote,
.accent-heading--description--MARKDOWN blockquote, .call-to-action--description blockquote {
    background-color: #f4f4f4;
    color: #777677
}

.post--content blockquote, .subheading--description--MARKDOWN blockquote,
.accent-heading--description--MARKDOWN blockquote, .call-to-action--description blockquote {
    border-left: 0.25rem solid #4178be;
    font-size: 0;
    padding: 0.75rem 2rem;
    quotes: "\201C" "\201D" "\2018" "\2019"
}

.post--content blockquote p, .subheading--description--MARKDOWN blockquote p,
.accent-heading--description--MARKDOWN blockquote p, .call-to-action--description blockquote p {
    font-size: 1rem;
    display: inline
}

.post--content blockquote:after, .subheading--description--MARKDOWN blockquote:after,
.accent-heading--description--MARKDOWN blockquote:after, .call-to-action--description blockquote:after {
    font-size: 1rem;
    color: #777677;
    content: close-quote
}

.post--content blockquote:before, .subheading--description--MARKDOWN blockquote:before,
.accent-heading--description--MARKDOWN blockquote:before, .call-to-action--description blockquote:before {
    font-size: 1rem;
    color: #777677;
    content: open-quote
}

.post--content h1, .subheading--description--MARKDOWN h1, .accent-heading--description--MARKDOWN h1,
.call-to-action--description h1, .post--content h2, .subheading--description--MARKDOWN h2,
.accent-heading--description--MARKDOWN h2, .call-to-action--description h2,
.post--content h3, .subheading--description--MARKDOWN h3, .accent-heading--description--MARKDOWN h3,
.call-to-action--description h3, .post--content h4, .subheading--description--MARKDOWN h4,
.accent-heading--description--MARKDOWN h4, .call-to-action--description h4,
.post--content h5, .subheading--description--MARKDOWN h5, .accent-heading--description--MARKDOWN h5,
.call-to-action--description h5, .post--content h6, .subheading--description--MARKDOWN h6,
.accent-heading--description--MARKDOWN h6, .call-to-action--description h6,
.post--content p, .subheading--description--MARKDOWN p, .accent-heading--description--MARKDOWN p,
.call-to-action--description p, .post--content blockquote, .subheading--description--MARKDOWN blockquote,
.accent-heading--description--MARKDOWN blockquote, .call-to-action--description blockquote,
.post--content pre, .subheading--description--MARKDOWN pre, .accent-heading--description--MARKDOWN pre,
.call-to-action--description pre, .post--content ul, .subheading--description--MARKDOWN ul,
.accent-heading--description--MARKDOWN ul, .call-to-action--description ul,
.post--content ol, .subheading--description--MARKDOWN ol, .accent-heading--description--MARKDOWN ol,
.call-to-action--description ol, .post--content dl, .subheading--description--MARKDOWN dl,
.accent-heading--description--MARKDOWN dl, .call-to-action--description dl,
.post--content figure, .subheading--description--MARKDOWN figure,
.accent-heading--description--MARKDOWN figure, .call-to-action--description figure {
    margin-bottom: 1.5rem
}

.post--content h1:last-child, .subheading--description--MARKDOWN h1:last-child,
.accent-heading--description--MARKDOWN h1:last-child, .call-to-action--description h1:last-child,
.post--content h2:last-child, .subheading--description--MARKDOWN h2:last-child,
.accent-heading--description--MARKDOWN h2:last-child, .call-to-action--description h2:last-child,
.post--content h3:last-child, .subheading--description--MARKDOWN h3:last-child,
.accent-heading--description--MARKDOWN h3:last-child, .call-to-action--description h3:last-child,
.post--content h4:last-child, .subheading--description--MARKDOWN h4:last-child,
.accent-heading--description--MARKDOWN h4:last-child, .call-to-action--description h4:last-child,
.post--content h5:last-child, .subheading--description--MARKDOWN h5:last-child,
.accent-heading--description--MARKDOWN h5:last-child, .call-to-action--description h5:last-child,
.post--content h6:last-child, .subheading--description--MARKDOWN h6:last-child,
.accent-heading--description--MARKDOWN h6:last-child, .call-to-action--description h6:last-child,
.post--content p:last-child, .subheading--description--MARKDOWN p:last-child,
.accent-heading--description--MARKDOWN p:last-child, .call-to-action--description p:last-child,
.post--content blockquote:last-child, .subheading--description--MARKDOWN blockquote:last-child,
.accent-heading--description--MARKDOWN blockquote:last-child, .call-to-action--description blockquote:last-child,
.post--content pre:last-child, .subheading--description--MARKDOWN pre:last-child,
.accent-heading--description--MARKDOWN pre:last-child, .call-to-action--description pre:last-child,
.post--content ul:last-child, .subheading--description--MARKDOWN ul:last-child,
.accent-heading--description--MARKDOWN ul:last-child, .call-to-action--description ul:last-child,
.post--content ol:last-child, .subheading--description--MARKDOWN ol:last-child,
.accent-heading--description--MARKDOWN ol:last-child, .call-to-action--description ol:last-child,
.post--content dl:last-child, .subheading--description--MARKDOWN dl:last-child,
.accent-heading--description--MARKDOWN dl:last-child, .call-to-action--description dl:last-child,
.post--content figure:last-child, .subheading--description--MARKDOWN figure:last-child,
.accent-heading--description--MARKDOWN figure:last-child, .call-to-action--description figure:last-child {
    margin-bottom: 0
}

.post--content h2, .subheading--description--MARKDOWN h2, .accent-heading--description--MARKDOWN h2,
.call-to-action--description h2 {
    margin-top: 3rem
}

.post--content ul, .subheading--description--MARKDOWN ul, .accent-heading--description--MARKDOWN ul,
.call-to-action--description ul, .post--content ol, .subheading--description--MARKDOWN ol,
.accent-heading--description--MARKDOWN ol, .call-to-action--description ol {
    list-style: disc;
    margin: 0 2.25rem 0.75rem
}

.post--content li, .subheading--description--MARKDOWN li, .accent-heading--description--MARKDOWN li,
.call-to-action--description li {
    padding: 0 0.75rem
}

.footer--linked-list {
    line-height: 1.875;
    padding-top: 0.75rem
}

.footer--link {
    color: #777677;
    text-decoration: none
}

.footer--link:hover {
    background-image: -webkit-linear-gradient(bottom, #f4f4f4 75%, #777677 75%);
    background-image: linear-gradient(to top, #f4f4f4 75%, #777677 75%);
    background-size: 0.125em 0.21875em;
    background-position: 0 1.08625em;
    text-shadow: 0.1rem 0 #f4f4f4, -0.1rem 0 #f4f4f4, 0.15rem 0 #f4f4f4, -0.15rem 0 #f4f4f4;
    text-decoration: none;
    background-repeat: repeat-x;
    cursor: pointer
}

.header--brand {
    padding-top: 1.5rem;
    padding-bottom: 0;
    float: left;
    color: #323232
}

@media (min-width: 30rem) {
    .header--brand {
        padding-bottom: 1.1875rem
    }
}

.header--title {
    color: inherit
}

.header--status {
    display: inline-block;
    color: #777677
}

.header--brand-title {
    display: inline-block
}

.header--resources {
    float: left;
    clear: left;
    color: #4178be;
    margin-bottom: -0.0625rem
}

@media (min-width: 30rem) {
    .header--resources {
        float: right;
        clear: none
    }
}

.header--link {
    text-decoration: none;
    color: #323232
}

._band {
    background-color: #fff;
    padding: 4.5rem 0
}

._band--PRIMARY {
    background-color: #fff;
    padding: 7.5rem 0
}

._band--SECONDARY {
    background-color: #f4f4f4;
    padding: 4.5rem 0
}

._band--HEADER {
    background-color: #fff;
    border-bottom: solid 0.0625rem #e0e0e0
}

._band--BANNER {
    background-color: #f4f4f4;
    padding-top: 6rem;
    padding-bottom: 6rem
}

._band--TABS {
    background-color: #f4f4f4;
    padding-top: 2.25rem
}

@media (min-width: 48.0625em) {
    ._band--TABS {
        padding-top: 4.5rem
    }
}

._band--DIVIDER {
    background-color: #fff
}

._band--SUB {
    background-color: #fff;
    padding-bottom: 4.5rem
}

._teams--body, ._teams--body--SECONDARY {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._teams--body, ._teams--body--SECONDARY {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

@media (min-width: 64.0625em) {
    ._teams--body, ._teams--body--SECONDARY {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
}

._teams--body--FULL {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._teams--body--FULL {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

._teams--action-group, ._teams--action-group--FULL, ._teams--form-group,
._teams--form-group--FULL {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem
}

._teams--form {
    padding: 4.5rem 0
}

._teams--form--INLINE {
    padding-bottom: 1.5rem
}

._teams--body {
    padding: 4.5rem 0
}

@media (min-width: 64.0625em) {
    ._teams--btn-group {
        float: right
    }
}

._teams--textarea {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._teams--textarea {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

._teams--action-group {
    padding-top: 0
}

@media (min-width: 48.0625em) {
    ._teams--action-group {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

@media (min-width: 64.0625em) {
    ._teams--action-group {
        width: 31.91489%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
}

._teams--action-group--FULL {
    padding-top: 0.75rem
}

@media (min-width: 48.0625em) {
    ._teams--action-group--FULL {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

._teams--form-checkbox--FIRST {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

@media (min-width: 48.0625em) {
    ._teams--form-checkbox--FIRST {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both;
        padding-top: 1.5rem
    }
}

@media (min-width: 64.0625em) {
    ._teams--form-checkbox--FIRST {
        width: 31.91489%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.12766%
    }
}

._teams--form-checkbox--SECOND {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-bottom: 1.5rem
}

@media (min-width: 48.0625em) {
    ._teams--form-checkbox--SECOND {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 51.06383%;
        clear: none;
        padding-top: 1.5rem
    }
}

@media (min-width: 64.0625em) {
    ._teams--form-checkbox--SECOND {
        width: 31.91489%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.12766%
    }
}

@media (min-width: 48.0625em) {
    ._teams--form-group:nth-child(n) {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }

    ._teams--form-group:nth-child(2n) {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 51.06383%;
        clear: none
    }
}

@media (min-width: 64.0625em) {
    ._teams--form-group:nth-child(1n) {
        width: 31.91489%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.12766%
    }

    ._teams--form-group:nth-child(2n) {
        width: 31.91489%;
        clear: right;
        float: left;
        margin-right: 2.12766%
    }

    ._teams--form-group:nth-child(3n) {
        width: 31.91489%;
        clear: right;
        float: right;
        margin-right: 0
    }
}

@media (min-width: 48.0625em) {
    ._teams--form-group--FULL {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

._equal-fourths {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-bottom: 2.25rem
}

@media (min-width: 40rem) {
    ._equal-fourths:nth-child(1) {
        width: 48.93617%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.12766%
    }

    ._equal-fourths:nth-child(2) {
        width: 48.93617%;
        clear: right;
        float: right;
        margin-right: 0
    }

    ._equal-fourths:nth-child(3) {
        width: 48.93617%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.12766%;
        padding-bottom: 0
    }

    ._equal-fourths:nth-child(4) {
        width: 48.93617%;
        clear: right;
        float: right;
        margin-right: 0
    }
}

@media (min-width: 60rem) {
    ._equal-fourths {
        padding-bottom: 0
    }

    ._equal-fourths:nth-child(1) {
        width: 23.40426%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none
    }

    ._equal-fourths:nth-child(2) {
        width: 23.40426%;
        float: left;
        margin-right: -100%;
        margin-left: 25.53191%;
        clear: none
    }

    ._equal-fourths:nth-child(3) {
        width: 23.40426%;
        float: left;
        margin-right: -100%;
        margin-left: 51.06383%;
        clear: none
    }

    ._equal-fourths:nth-child(4) {
        width: 23.40426%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
}

._equal-fourths:last-child {
    padding-bottom: 0
}

._gallery {
    margin-top: 1.5rem
}

._gallery:nth-child(1n) {
    width: 48.93617%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.12766%
}

._gallery:nth-child(2n) {
    width: 48.93617%;
    clear: right;
    float: right;
    margin-right: 0
}

@media (min-width: 48.0625em) {
    ._gallery:nth-child(1n) {
        width: 31.91489%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.12766%
    }

    ._gallery:nth-child(2n) {
        width: 31.91489%;
        clear: right;
        float: left;
        margin-right: 2.12766%
    }

    ._gallery:nth-child(3n) {
        width: 31.91489%;
        clear: right;
        float: right;
        margin-right: 0
    }
}

@media (min-width: 64.0625em) {
    ._gallery:nth-child(1n) {
        width: 23.40426%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.12766%
    }

    ._gallery:nth-child(2n) {
        width: 23.40426%;
        clear: right;
        float: left;
        margin-right: 2.12766%
    }

    ._gallery:nth-child(3n) {
        width: 23.40426%;
        clear: right;
        float: left;
        margin-right: 2.12766%
    }

    ._gallery:nth-child(4n) {
        width: 23.40426%;
        clear: right;
        float: right;
        margin-right: 0
    }
}

._overview-list--item {
    padding: 1.5rem 0
}

._overview-list--divider {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._overview-list--divider {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

._overview-list--title {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._overview-list--title {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: none
    }
}

._overview-list--details {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._overview-list--details {
        width: 48.93617%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

._overview-list--details--SUB {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._overview-list--details--SUB {
        width: 14.89362%;
        float: left;
        margin-right: -100%;
        margin-left: 68.08511%;
        clear: none
    }
}

._overview-list--action-bar {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-top: 1.125rem;
    padding-bottom: 0.375rem
}

@media (min-width: 48.0625em) {
    ._overview-list--action-bar {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

._overview-list--half {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 40em) {
    ._overview-list--half {
        width: 48.93617%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none
    }

    ._overview-list--half:nth-child(2n) {
        width: 48.93617%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: right
    }
}

@media (min-width: 48.0625em) {
    ._overview-list--half {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: none
    }

    ._overview-list--half:nth-child(2n) {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 51.06383%;
        clear: right
    }
}

._overview-list--status {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 40em) {
    ._overview-list--status {
        width: 57.44681%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none
    }

    ._overview-list--status:nth-child(2n) {
        width: 48.93617%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: right
    }
}

@media (min-width: 48.0625em) {
    ._overview-list--status {
        width: 48.93617%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: none
    }

    ._overview-list--status:nth-child(2n) {
        width: 14.89362%;
        float: left;
        margin-right: -100%;
        margin-left: 68.08511%;
        clear: right
    }
}

@media (min-width: 60em) {
    ._overview-list--status {
        width: 40.42553%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: none
    }

    ._overview-list--status:nth-child(2n) {
        width: 23.40426%;
        float: left;
        margin-right: -100%;
        margin-left: 59.57447%;
        clear: right
    }
}

._overview-list--form {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both
}

@media (min-width: 48.0625em) {
    ._overview-list--form {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }
}

._catalog--header {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._catalog--header {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: none
    }
}

._catalog--logo {
    width: 23.40426%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.12766%
}

@media (min-width: 30em) {
    ._catalog--logo {
        width: 23.40426%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none
    }
}

@media (min-width: 48.0625em) {
    ._catalog--logo {
        width: 14.89362%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: none
    }
}

._catalog--name {
    width: 74.46809%;
    clear: right;
    float: right;
    margin-right: 0
}

@media (min-width: 30em) {
    ._catalog--name {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
}

._catalog--description {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both
}

@media (min-width: 30em) {
    ._catalog--details {
        width: 74.46809%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none
    }
}

@media (min-width: 48.0625em) {
    ._catalog--details {
        width: 48.93617%;
        float: left;
        margin-right: -100%;
        margin-left: 34.04255%;
        clear: none
    }
}

._equal-thirds {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-bottom: 2.25rem
}

@media (min-width: 32rem) {
    ._equal-thirds:nth-child(1) {
        width: 48.93617%;
        float: left;
        margin-right: -100%;
        margin-left: 25.53191%;
        clear: both
    }

    ._equal-thirds:nth-child(2) {
        width: 48.93617%;
        float: left;
        margin-right: -100%;
        margin-left: 25.53191%;
        clear: both
    }

    ._equal-thirds:nth-child(3) {
        width: 48.93617%;
        float: left;
        margin-right: -100%;
        margin-left: 25.53191%;
        clear: both
    }
}

@media (min-width: 48rem) {
    ._equal-thirds:nth-child(1) {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none;
        padding-bottom: 0
    }

    ._equal-thirds:nth-child(2) {
        width: 31.91489%;
        float: left;
        margin-right: -100%;
        margin-left: 34.04255%;
        clear: none;
        padding-bottom: 0
    }

    ._equal-thirds:nth-child(3) {
        width: 31.91489%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        padding-bottom: 0
    }
}

._equal-thirds:last-child {
    padding-bottom: 0
}

._full {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

.hero-banner--header {
    width: 102.12766%
}

@media (min-width: 40em) {
    .hero-banner--header {
        width: 57.44681%;
        padding-right: 2.12766%;
        display: inline-block;
        vertical-align: middle
    }
}

@media (min-width: 64.0625rem) {
    .hero-banner--header {
        padding-right: 6.38298%
    }
}

.hero-banner--image {
    width: 102.12766%;
    padding-top: 2.25rem
}

@media (min-width: 28.75em) {
    .hero-banner--image {
        width: 65.95745%;
        margin: 0 auto
    }
}

@media (min-width: 40em) {
    .hero-banner--image {
        width: 40.42553%;
        padding-top: 0;
        display: inline-block;
        vertical-align: middle
    }
}

._tight {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-bottom: 2.25rem
}

@media (min-width: 48.0625em) {
    ._tight {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: both
    }

    ._tight--link ~ ._tight {
        width: 65.95745%;
        float: left;
        margin-right: -100%;
        margin-left: 17.02128%;
        clear: right
    }
}

._tight:last-child {
    margin-bottom: 0
}

._tight--link {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
}

@media (min-width: 48.0625em) {
    ._tight--link {
        width: 14.89362%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none
    }
}

.tool--security-svg, .tool--security-svg--SECURE, .back-nav--svg,
.message--icon--SUCCESS, .toast--icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.625rem
}

.tool {
    padding-top: 3.75rem
}

.tool--name {
    margin-top: 1.25rem
}

@media (min-width: 30em) {
    .tool--name {
        margin-top: 0
    }
}

.tool--description {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem
}

.tool--security {
    font-size: 0;
    margin-top: 1.5rem
}

@media (min-width: 30em) {
    .tool--logo {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.tool--security-svg {
    fill: #efc100
}

.tool--security-svg--SECURE {
    fill: #5aa700
}

.tool--status-description {
    font-size: 1rem;
    vertical-align: middle;
    display: inline-block;
    width: -webkit-calc(100% - 2.625rem);
    width: calc(100% - 2.625rem)
}

.back-nav--icon, .back-nav--text {
    display: inline-block
}

@media (min-width: 48.0625em) {
    .back-nav--icon, .back-nav--text {
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.back-nav {
    margin-bottom: 2.25rem
}

@media (min-width: 48.0625em) {
    .back-nav {
        height: 2.0736rem;
        margin-bottom: 0
    }
}

@media (min-width: 48.0625em) and (min-width: 0) and (max-width: 48.0625em) {
    .back-nav {
        height: 2.0736rem
    }
}

@media (min-width: 48.0625em) and (min-width: 48.0625em) {
    .back-nav {
        height: 2.44141rem
    }
}

.back-nav--link {
    color: #4178be;
    text-decoration: none
}

.back-nav--link:hover {
    background-image: -webkit-linear-gradient(bottom, #f4f4f4 75%, #4178be 75%);
    background-image: linear-gradient(to top, #f4f4f4 75%, #4178be 75%);
    background-size: 0.125em 0.21875em;
    background-position: 0 1.08625em;
    text-shadow: 0.1rem 0 #f4f4f4, -0.1rem 0 #f4f4f4, 0.15rem 0 #f4f4f4, -0.15rem 0 #f4f4f4;
    text-decoration: none;
    background-repeat: repeat-x;
    cursor: pointer
}

.back-nav--link:hover {
    background-image: none;
    color: #777677
}

.back-nav--icon {
    vertical-align: middle
}

.back-nav--text {
    vertical-align: middle
}

@media (min-width: 48.0625em) {
    .back-nav--text {
        vertical-align: top
    }
}

.back-nav--svg {
    fill: currentColor
}

.btn, .btn-group--done, .metadata-form--request, .overview--request-btn,
.banner--request-btn, .call-to-action--anchor, .btn--PRIMARY, .btn-group--primary,
.btn--ACTION, .btn-group--action, .metadata-form--approve {
    vertical-align: middle;
    line-height: 1;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
    padding: 0.75rem 0.75rem;
    min-width: 5.5em;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    text-decoration: none
}

.btn:hover, .btn-group--done:hover, .metadata-form--request:hover,
.overview--request-btn:hover, .banner--request-btn:hover, .call-to-action--anchor:hover,
.btn--PRIMARY:hover, .btn-group--primary:hover, .btn--ACTION:hover,
.btn-group--action:hover, .metadata-form--approve:hover, .btn:focus,
.btn-group--done:focus, .metadata-form--request:focus, .overview--request-btn:focus,
.banner--request-btn:focus, .call-to-action--anchor:focus, .btn--PRIMARY:focus,
.btn-group--primary:focus, .btn--ACTION:focus, .btn-group--action:focus,
.metadata-form--approve:focus, .btn:active, .btn-group--done:active,
.metadata-form--request:active, .overview--request-btn:active,
.banner--request-btn:active, .call-to-action--anchor:active, .btn--PRIMARY:active,
.btn-group--primary:active, .btn--ACTION:active, .btn-group--action:active,
.metadata-form--approve:active {
    outline: none;
    text-decoration: none
}

.btn, .btn-group--done, .metadata-form--request, .overview--request-btn,
.banner--request-btn, .call-to-action--anchor {
    border: solid 2px #323232;
    color: #323232
}

.btn:hover, .btn-group--done:hover, .metadata-form--request:hover,
.overview--request-btn:hover, .banner--request-btn:hover, .call-to-action--anchor:hover,
.btn:focus, .btn-group--done:focus, .metadata-form--request:focus,
.overview--request-btn:focus, .banner--request-btn:focus, .call-to-action--anchor:focus,
.btn:active, .btn-group--done:active, .metadata-form--request:active,
.overview--request-btn:active, .banner--request-btn:active, .call-to-action--anchor:active {
    background-color: #323232;
    color: #fff
}

.btn:disabled, .btn-group--done:disabled, .metadata-form--request:disabled,
.overview--request-btn:disabled, .banner--request-btn:disabled,
.call-to-action--anchor:disabled {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #fff
}

.btn--PRIMARY, .btn-group--primary {
    border: solid 2px #4178be;
    color: #4178be
}

.btn--PRIMARY:hover, .btn-group--primary:hover, .btn--PRIMARY:focus,
.btn-group--primary:focus, .btn--PRIMARY:active, .btn-group--primary:active {
    background-color: #4178be;
    color: #fff
}

.btn--PRIMARY:disabled, .btn-group--primary:disabled {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #fff
}

.btn--ACTION, .btn-group--action, .metadata-form--approve {
    background-color: #5aa700;
    border: solid 2px #5aa700;
    color: #fff
}

.btn--ACTION:hover, .btn-group--action:hover, .metadata-form--approve:hover,
.btn--ACTION:focus, .btn-group--action:focus, .metadata-form--approve:focus,
.btn--ACTION:active, .btn-group--action:active, .metadata-form--approve:active {
    background-color: #488600;
    border-color: #488600
}

.btn--ACTION:disabled, .btn-group--action:disabled, .metadata-form--approve:disabled {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #fff
}

.btn-group--done, .btn-group--action, .btn-group--primary {
    margin-top: 0.75rem
}

.btn-group--done:not(:last-child), .btn-group--action:not(:last-child),
.btn-group--primary:not(:last-child) {
    margin-right: 1.5rem
}

.card {
    text-decoration: none
}

.card--body {
    width: 100%;
    text-align: center;
    border: 1px solid #e0e0e0;
    color: #777677;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out
}

.card--body:hover {
    border-color: #4178be;
    color: #4178be
}

.card--header {
    height: 9.75rem;
    padding: 0 1.5rem;
    color: #4178be
}

.card--title {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.card--footer {
    padding: 1.5rem 0
}

.highlight-box--SUCCESS, .highlight-box--ERROR, .highlight-box--NOTIFY {
    background-color: #fff;
    background: -webkit-repeating-linear-gradient(315deg, #fff, #fff 0.375rem, #f4f4f4 0.375rem, #f4f4f4 0.75rem);
    background: repeating-linear-gradient(135deg, #fff, #fff 0.375rem, #f4f4f4 0.375rem, #f4f4f4 0.75rem);
    padding: 0.75rem 1.5rem 0.75rem 0
}

.highlight-box--image {
    width: 3rem;
    vertical-align: top;
    display: inline-block;
    margin-right: 0rem;
    margin-left: 1.125rem;
    margin-top: 0.25rem
}

.highlight-box--message {
    width: -webkit-calc(100% - 4.5rem);
    width: calc(100% - 4.5rem);
    display: inline-block;
    vertical-align: top
}

.highlight-box--message--NO-IMAGE {
    margin-left: 1.125rem;
    display: inline-block;
    vertical-align: top
}

.highlight-box--SUCCESS {
    border-left: #5aa700 solid 0.375rem;
    fill: #5aa700
}

.highlight-box--ERROR {
    border-left: #ad1625 solid 0.375rem;
    fill: #ad1625
}

.highlight-box--NOTIFY {
    border-left: #323232 solid 0.375rem;
    fill: #323232
}

.input--error-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    margin-top: -2.25rem;
    margin-right: 0.75rem;
    float: right;
    fill: #ad1625
}

.message {
    display: inline-block;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 1
}

.message--HIDDEN {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0
}

.message--title {
    vertical-align: middle
}

.message--icon--SUCCESS {
    fill: currentColor;
    height: 1.5rem;
    width: 1.5rem;
    color: #5aa700
}

.message--SUCCESS {
    color: #5aa700;
    vertical-align: middle
}

.metadata-form--approve, .metadata-form--request {
    margin-top: 0.75rem
}

@media (min-width: 40em) {
    .metadata-form--approve, .metadata-form--request {
        float: right
    }
}

.metadata-form {
    margin-left: 4.5rem
}

.metadata-form--field {
    margin-top: 0.75rem
}

.multi-email-editor {
    max-height: 10.5rem;
    overflow: auto
}

.multi-email-editor:empty:before {
    content: "tswift@us.ibm.com, thedoctor@uk.ibm.com";
    display: block
}

.multi-email-editor--error-text {
    background-image: -webkit-linear-gradient(bottom, #fff 75%, #ad1625 75%);
    background-image: linear-gradient(to top, #fff 75%, #ad1625 75%);
    background-size: 0.125em 0.21875em;
    background-position: 0 1.08625em;
    text-shadow: 0.1rem 0 #fff, -0.1rem 0 #fff, 0.15rem 0 #fff, -0.15rem 0 #fff;
    text-decoration: none;
    background-repeat: repeat-x;
    color: #ad1625;
    font-style: italic
}

.overview--image, .overview--image--CENTERED {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    margin-right: 1.5rem
}

.overview--logo, .overview--logo--DISABLED {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5rem
}

.overview--details, .overview--btn-description {
    color: #777677
}

.overview--action, .overview--request {
    padding-left: 4.5rem
}

@media (min-width: 48.0625em) {
    .overview--action, .overview--request {
        float: right;
        padding-left: 0
    }
}

.overview--INVALID {
    color: #ad1625
}

.overview--title {
    color: #323232;
    font-size: 1rem;
    font-weight: normal
}

.overview--title--DISABLED {
    color: #5a5a5a;
    font-size: 1rem;
    font-weight: normal
}

.overview--icon {
    margin-left: 0.625rem;
    fill: #5aa700;
    vertical-align: text-bottom
}

.overview--icon--INSECURE {
    margin-left: 0.625rem;
    fill: #efc100;
    vertical-align: text-bottom
}

.overview--icon--DISABLED {
    margin-left: 0.625rem;
    fill: #777677;
    vertical-align: text-bottom
}

.overview--image {
    vertical-align: top
}

.overview--image--CENTERED {
    vertical-align: middle
}

.overview--subtitle {
    padding-top: 0.75rem
}

.overview--subtitle--DISABLED {
    padding-top: 0.75rem;
    color: #5a5a5a
}

.overview--status--ENABLED {
    margin-top: 1.5rem
}

@media (min-width: 40em) {
    .overview--status--ENABLED {
        text-align: right
    }
}

.overview--status--ENABLED:after {
    height: 0.75rem;
    width: 0.75rem;
    display: inline-block;
    border-radius: 50%;
    content: "";
    background: #5aa700;
    margin-left: 0.625rem
}

.overview--status--DISABLED {
    margin-top: 1.5rem;
    color: #777677
}

@media (min-width: 40em) {
    .overview--status--DISABLED {
        text-align: right
    }
}

.overview--info {
    display: inline-block;
    vertical-align: middle
}

.overview--details--ERROR {
    color: #ad1625
}

.overview--link {
    color: #4178be;
    text-decoration: none;
    fill: #4178be
}

.overview--link:hover {
    background-image: -webkit-linear-gradient(bottom, #fff 75%, #4178be 75%);
    background-image: linear-gradient(to top, #fff 75%, #4178be 75%);
    background-size: 0.125em 0.21875em;
    background-position: 0 1.08625em;
    text-shadow: 0.1rem 0 #fff, -0.1rem 0 #fff, 0.15rem 0 #fff, -0.15rem 0 #fff;
    text-decoration: none;
    background-repeat: repeat-x;
    cursor: pointer
}

.overview--link:hover {
    background-image: none;
    fill: #777677;
    color: #777677;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out
}

.overview--admin {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.625rem;
    vertical-align: top
}

.overview--tool {
    display: inline-block;
    padding-right: 0.75rem;
    padding-top: 0.375rem
}

.overview--logo--DISABLED {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.overview--logo--SMALL {
    width: 2.25rem;
    height: 2.25rem
}

.overview--action {
    padding-top: 0.75rem
}

.overview--table-header {
    display: none
}

@media (min-width: 40em) {
    .overview--table-header {
        display: block
    }
}

.overview--request-btn {
    margin-top: 1.5rem
}

@media (min-width: 40em) {
    .overview--request-btn {
        margin-top: 0;
        float: right
    }
}

.overview--btn-description {
    padding-top: 0.75rem
}

@media (min-width: 40em) {
    .overview--btn-description {
        text-align: right;
        float: right;
        clear: both
    }
}

.photo--noimage, .photo--error {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem
}

.photo--image {
    border-radius: 50%
}

.photo--noimage {
    fill: #4178be
}

.photo--error {
    fill: #ad1625
}

.post--metadata {
    color: #777677;
    display: block
}

.post--title {
    margin-bottom: 1.5rem
}

.subheading--title--BUTTON {
    float: left
}

.subheading--btn {
    float: right;
    padding-bottom: 1.875rem
}

.subheading--description {
    padding-top: 0.75rem
}

.subheading--description--MARKDOWN {
    padding-top: 0.75rem
}

.tabs--link, .tabs--name {
    font-size: 0.875em;
    padding-top: 1.5rem;
    padding-bottom: 1.1875rem;
    display: block;
    color: currentColor;
    text-decoration: none
}

@media (min-width: 30rem) {
    .tabs--link, .tabs--name {
        font-size: inherit
    }
}

[data-state="active"].tabs--link, [data-state="active"].tabs--name {
    border-bottom: solid 0.3125rem #323232;
    color: #323232
}

.tabs {
    color: #4178be
}

.tabs--tab {
    padding: 0 1.25rem;
    display: inline-block
}

.tabs--tab:first-child {
    padding-left: 0
}

.tabs--tab:last-child {
    padding-right: 0
}

.tabs--link {
    border-bottom: solid 0.3125rem transparent;
    -webkit-transition: border-bottom-color 0.2s ease-out;
    transition: border-bottom-color 0.2s ease-out
}

.tabs--link:hover {
    border-bottom-color: #4178be;
    color: #4178be
}

.toast, .toast--OPEN {
    position: fixed;
    top: 6rem;
    right: 1.5rem;
    left: 1.5rem
}

.toast--content--SUCCESS, .toast--content--ERROR {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    padding: 1rem;
    border: solid 1px #e0e0e0;
    background-color: #fff
}

.toast {
    opacity: 0;
    -webkit-transform: translateY(1.5rem);
    -ms-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
    -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0s linear 0.1s;
    transition: opacity 0.1s ease-out, -webkit-transform 0s linear 0.1s;
    transition: transform 0s linear 0.1s, opacity 0.1s ease-out;
    transition: transform 0s linear 0.1s, opacity 0.1s ease-out, -webkit-transform 0s linear 0.1s
}

.toast--OPEN {
    -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
    transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out
}

.toast--content--SUCCESS {
    color: #5aa700
}

.toast--content--ERROR {
    color: #ad1625
}

.toast--icon {
    fill: currentColor;
    height: 1.5rem;
    width: 1.5rem;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 1rem
}

.toast--message {
    padding-left: 2.125rem;
    float: left
}

.toast--action {
    float: right;
    padding-left: 1.5rem;
    right: 1.5rem;
    top: 0
}

.toast--action-button {
    color: #777677;
    text-decoration: none;
    vertical-align: middle
}

.toast--action-button:hover {
    background-image: -webkit-linear-gradient(bottom, #fff 75%, #777677 75%);
    background-image: linear-gradient(to top, #fff 75%, #777677 75%);
    background-size: 0.125em 0.21875em;
    background-position: 0 1.08625em;
    text-shadow: 0.1rem 0 #fff, -0.1rem 0 #fff, 0.15rem 0 #fff, -0.15rem 0 #fff;
    text-decoration: none;
    background-repeat: repeat-x;
    cursor: pointer
}

.validation--error-text, .validation--error-text--SUPPORTING-DATA {
    padding-top: 0.75rem;
    color: #ad1625;
    font-style: italic
}

.validation--error-text--SUPPORTING-DATA {
    padding-bottom: 0.75rem
}

.accent-heading--title {
    font-weight: normal;
    padding-bottom: 1.5rem
}

.accent-heading--title--ACCENT {
    color: #4178be
}

.accent-heading--btn-group {
    padding-top: 0.75rem
}

@media (min-width: 64.0625em) {
    .banner--details, .banner--action {
        display: inline-block;
        vertical-align: middle
    }
}

@media (min-width: 64.0625em) {
    .banner--details {
        width: 66.66667%
    }
}

.banner--action {
    padding-top: 1.5rem
}

@media (min-width: 64.0625em) {
    .banner--action {
        padding-top: 0;
        width: 33.33333%
    }
}

.banner--headline--WITH-ICON {
    display: inline-block;
    vertical-align: middle
}

.banner--description {
    padding-top: 1.5rem
}

@media (min-width: 64.0625em) {
    .banner--btn {
        float: right
    }
}

.banner--icon {
    fill: #4178be;
    vertical-align: middle;
    margin-right: 0.625rem
}

.banner--request-btn {
    margin-top: 1.5rem
}

@media (min-width: 48.0625em) {
    .call-to-action--link, .call-to-action--details {
        display: inline-block;
        vertical-align: top;
        width: 48.93617%
    }

    .call-to-action--anchor {
        float: right
    }
}

.call-to-action--title {
    padding-bottom: 0.75rem
}

.call-to-action--link {
    padding-top: 3rem
}

.divider {
    border-top: solid 1px #e0e0e0;
    margin-top: -1px;
    margin-bottom: 0
}

.figure--base--CENTERED {
    text-align: center
}

.figure--caption {
    padding-top: 1.5rem;
    padding-bottom: 0.75rem
}

.front-banner--description {
    color: #5a5a5a;
    padding-top: 1.5rem
}

.line-heading--headline {
    margin-bottom: 1.5rem
}

.line-heading--line {
    background-color: #323232;
    display: block;
    height: 0.125rem;
    width: 7.75rem
}

.line-heading--description {
    margin-top: 1.5rem
}

.list--title {
    padding-bottom: 1.5rem
}

.list--linked-list {
    line-height: 1.875rem
}